.event-host-header-title {
    margin-top: -13.5rem;
}

#featured-become-verified {
    color: white;
    margin-top: 3rem;
    font-size: 1.25rem;
    font-weight: bold;
}

#featured-become-verified-a {
    text-decoration: underline !important;
    color: rgb(141, 125, 181);
}

#featured-become-verified-a:hover {
    color: purple;
}