.verified-checks-images {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 20rem;
    background-image: url("https://i.imgur.com/mViTltX.png");
    background-size: auto 20rem;
}

/* .verification-container {
    min-width: 266px;
} */

.verified-checks-row {
    height: 100%;
    padding: 5rem 0;
}

.verified-checks-col {
    width: 25%;
}

.verification-header-img-container {
    /* height: 20rem;
    background-image: url("https://i.imgur.com/r1fPsVm.png");
    display: flex;
    align-items: center;
    top: 4.262rem;
    padding-top: 6.5rem; */
    background-image: url('https://i.imgur.com/r1fPsVm.png');
    background-size: 120% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

#verification-header-image {
    height: 100%;
    width: 100%;
}

/* .verification-header-checks {
    width: 100%;
    margin-top: -3.5rem;
} */

.veri-checkmark {
    width: 15%; 
    height: 15%;
    padding: 2rem;
    margin-top: -14rem;
    margin-bottom: 2rem;;
}

.usync-veri-image {
    margin-bottom: 5rem;
}

.verified-features-img {
    margin-bottom: 3rem;
}

#verification-premium {
    color: white;
    margin-top: 5rem;
    font-size: 1rem;
    font-weight: bold;
}

#verification-post-event {
    color: white;
    margin-top: 3rem;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 13.5rem;
}

/* #verification-post-event-a {
    text-decoration: underline !important;
    color: rgb(141, 125, 181);
}

#verification-post-event-a:hover {
    color: purple;
} */

.info-button-verification {
    background-color: rgb(49, 49, 49);
    color: rgb(141, 125, 181);
    border: .125rem solid rgb(144, 125, 181);
    width: 85%;
    transition-duration: 0.4s;
    border-radius: .5rem;
    font-weight: bold;
    font-family: 'Helvetica';
    height: 2.5rem;
    margin-top: 1rem;
}

.info-button-verification:hover {
    background-color: rgb(141, 125, 181);
    color: rgb(49, 49, 49);
}

#verification-title {
    color: white;
    font-size: 4rem; 
    text-align: center;
}

.Checkmark-title-verification-veri {
    display: block;
    width: 40%;
    margin: 0 auto;
    height: auto;
}

.verification-sub-img {
    width: 53%;
    /* display: block; */
}

.show-on-mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    .veri-checkmark {
        width: 40%;
        padding: 1rem;
        padding-bottom: 4rem;
        margin-top: -9rem;
        margin-bottom: 0;
    }

    .hide-on-mobile {
        display: none;
    }

    .show-on-mobile {
        display: block;
    }

    #verification-post-event {
        margin-bottom: 2rem;
    }

    .no-force-width {
        width: 50% !important;
      }

    .space-bottom-veri {
        margin-bottom: 2rem;
    }

    .info-button-verification {
        width: 100%;
    }

    .verification-sub-img {
        width: 100%;
        display: block;
    }

    .usync-veri-image {
        margin-bottom: 0;
    }

    .Checkmark-title-verification-veri {
        width: 70%
    }
}