.not-verified-banner-img {
    background-image: url('https://i.imgur.com/UDHxFWg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.cmg-verified-h2h {
    background-image: url('https://i.imgur.com/9SwZ1Zv.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gankster-verified-h2h {
    background-image: url('https://i.imgur.com/ABLzHic.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}