.LanMap {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 4.27rem;
    width: 100%;
    height: calc(100vh - 4.27rem);  
  }
  
  .info-button-lans {
    position: absolute;
    bottom: .5rem; /* Adjust as needed */
    transform: translateX(-50%); /* Center the button horizontally */
    background-color: rgba(49, 49, 49, 0.9);
    color: rgb(141, 125, 181);
    border: .125rem solid rgb(144, 125, 181);
    width: 13%;
    transition-duration: 0.4s;
    border-radius: .313rem;
    font-weight: bold;
    font-family: 'Helvetica';
    z-index: 2;
    height: 4.5%;
  }
  
.info-button-lans:hover {
    background-color: rgb(141, 125, 181);
    color: rgb(49, 49, 49);
}
@media only screen and (max-width: 1200px) {
    .info-button-lans {
      width: 90%; /* adjust the width to a relative value */
    }
  }

  .info-button-lans-home {
    position: absolute;
    bottom: 3.5rem; /* Adjust as needed */
    transform: translateX(-50%); /* Center the button horizontally */
    background-color: rgba(49, 49, 49, 0.9);
    color: rgb(141, 125, 181);
    border: .125rem solid rgb(144, 125, 181);
    width: 10%;
    transition-duration: 0.4s;
    border-radius: .313rem;
    font-weight: bold;
    font-family: 'Helvetica';
    z-index: 2;
    height: 4.5%;
  }
  
.info-button-lans-home:hover {
    background-color: rgb(141, 125, 181);
    color: rgb(49, 49, 49);
}
@media only screen and (max-width: 1200px) {
    .info-button-lans-home {
      width: 90%; /* adjust the width to a relative value */
    }
  }

  .info-button-lans-lol {
    position: absolute;
    bottom: 1rem; /* Adjust as needed */
    transform: translateX(-50%); /* Center the button horizontally */
    background-color: rgba(49, 49, 49, 0.9);
    color: rgb(141, 125, 181);
    border: .125rem solid rgb(144, 125, 181);
    width: 16.5%;
    transition-duration: 0.4s;
    border-radius: .313rem;
    font-weight: bold;
    font-family: 'Helvetica';
    z-index: 2;
    height: 4.5%;
  }
  
.info-button-lans-lol:hover {
    background-color: rgb(141, 125, 181);
    color: rgb(49, 49, 49);
}
@media only screen and (max-width: 1200px) {
    .info-button-lans-lol {
      width: 90%; /* adjust the width to a relative value */
    }
  }

