.codagent-verified-wagers {
    background-image: url('https://i.imgur.com/oNFYoiV.png');
    background-size: 120% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}