.CallOfDuty, .ComingSoon, .ContactUs, .EventHost, .Games, .Halo, .Home,
.LeagueOfLegends, .RocketLeague, .Valorant, .Verification, .Warzone {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    width: 100%;
    height: 100%;
}

/* For Chrome */
::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar {
  width: .67rem !important;
  background-color: rgb(49, 49, 49);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3) !important;
  border-radius: .25rem !important;
}


/* For all browsers */
/* body {
  overflow: overlay;
  background-color: transparent;
} */

.App {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  /* display: flex; */
  align-items: center;
  flex-direction: column;
  /* height: 100vh;
  width: 100vw; */
  background-color: rgb(49, 49, 49);
}

.payform {
  width: 30vw;
  min-width: 500px;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  /* padding: 40px; */
  padding-top: 5rem;
  margin-bottom: 4.1rem;
}


#payment-message {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}

#payment-element {
  margin-bottom: 24px;
}

/* Buttons and links */
.paybutton {
  background: rgb(146,106,206);
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
  margin-bottom: 2rem;
}

.paybutton:hover {
  filter: contrast(115%);
}

.paybutton:disabled {
  opacity: 0.5;
  cursor: default;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}

.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.spinner:before,
.spinner:after {
  position: absolute;
  content: '';
}

.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #0055DE;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #0055DE;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

/* Payment status page */
#payment-status {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  width: 30vw;
  min-width: 500px;
  min-height: 380px;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
  opacity: 0;
  animation: fadeInAnimation 1s ease forwards;
  margin-top: auto;
  margin-bottom: auto;
}

#status-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#details-table {
  overflow-x: auto;
  width: 100%;
}

.TableContent {
  text-align: right;
  color: #6D6E78;
}

.TableLabel {
  font-weight: 600;
  color: #30313D;
}

#view-details {
  color: #0055DE;
}

#retry-button {
  text-align: center;
  background: #0055DE;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

.checkout-div {
  /* margin-left: 50svw; */
  overflow-x: hidden;
}

.cart-container {
  margin-top: 2rem;
  font-family: 'Inter', sans-serif;
  color: white;
  margin-bottom: 2rem;
}

.cart-box {
  background-color: rgb(93, 66, 133);
  border: 1px solid #333;
  border-radius: 10px;
  padding: 1.5rem;
  max-width: 500px;
  box-shadow: '0 4px 12px rgb(0, 0, 0)';
}

.cart-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0.75rem;
}

.item-label {
  font-weight: 600;
  flex: 1 1 30%;
}

.item-desc {
  flex: 1 1 50%;
  color: #ccc;
}

.item-price {
  flex: 1 1 20%;
  text-align: right;
}

.cart-divider {
  border: none;
  height: 1px;
  background: rgb(255,255,255);
  margin: 1rem 0;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.2rem;
}

input::placeholder {
  color: #d9d7d7; /* light gray */
  opacity: 1;  /* ensure full visibility */
}

.complete-button {
    background-color: rgb(49, 49, 49);
    color: rgb(141, 125, 181);
    border: .125rem solid rgb(144, 125, 181);
    width: 50%;
    transition-duration: 0.4s;
    border-radius: .5rem;
    font-weight: bold;
    font-family: 'Helvetica';
    height: 2.5rem;
}

.complete-button:hover {
    background-color: rgb(141, 125, 181);
    color: rgb(49, 49, 49);
}

.complete-background {
  height: 61.5svh;
  padding: 5rem;
  text-align: center;
  background-color: rgb(49,49,49);
  color: rgb(255,255,255);
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes fadeInAnimation {
  to {
      opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .payform, #payment-status {
    width: 80vw;
    min-width: initial;
  }

  .checkout-div {
    margin-left: 10svw;
  }

  .complete-button {
    width: 90%;
  }
}

@media only screen and (max-wdith: 480px) {
  .checkout-div {
    margin-left: 5vsw;
  }
}

@media only screen and (min-width: 1500px) {
  .complete-background {
    height: 80svh;
  }
}