/** {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
} 
*/


.homeContainer {
  width: 100%;
  height: 100%;
}


.backgroundTop {
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-image: url("./website_images/home-images/home_background.png");
  background-position: center;
  background-attachment: fixed;
}
.Intro u {
  text-decoration: none;
  border-bottom: .15rem solid rgb(142, 106, 206);
}

.backgroundTop img{
  width: 33%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-top: 8rem;
  padding-bottom: 2.5rem;
}

.backgroundMid {
  background-color: rgb(49, 49, 49);
}

.backgroundMidWithBanner {
  background-color: rgb(49, 49, 49);
  padding-top: 3rem;
}

.Intro {
  color: white;
  white-space: pre-line;
  margin: 0;
  text-align: center;
  font-size: 2.5rem;
  padding-right: 3.5vh;
  padding-left: 3.5vh;
}

.hometitles {
  color: white;
  white-space: pre-line;
  text-align: center;
  font-size: 3rem;
  padding-top: .9rem;
}

.nameLogo {
  height: auto;
  width: 100%;
  /* display: inline-block;
  vertical-align: baseline; */
}


.Intro h2{
  font-size: 1.125rem;
}

.getStarted {
  display: inline-block;
  background-color: transparent;
  border: .125rem solid #fff;
  border-radius: .625rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  width: 90%;
  margin: 10vh auto;
  padding: .625rem 1.25rem;
  display: block;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}

.getStarted:hover {
  background-color: rgba(137, 124, 141, 0.407);
  color: rgb(255, 255, 255);
}

.backgroundImages img {
  margin: 1%;
  width: 12rem;
  height: auto;
  border-radius: 1.563rem;
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 2rem;
  margin-top: -1rem;
}

.backgroundImages img:hover {
  box-shadow: 0 0 1.563rem .188rem rgba(153, 102, 255, 0.8);
}

.underline-h {
  width: 1000%;
  margin-bottom: 3rem;
}

.comingSoonGames img {
  margin: 2% 1%;
  width: 11%;
  height: 30%;
} 

.footer img {
  position: relative;
  z-index: 9999 !important;
  margin: 1%;
  width: 3%;
}

.reportProblem {
  color: rgb(142, 106, 206);
  text-decoration: underline !important;
  font-weight: 600;
}

.reportProblem:hover{
  color: rgb(142, 106, 206) !important;
  filter: brightness(120%);
}

.footer {
  background-color: rgb(67, 67, 67);
  text-align: center;
  padding-bottom: .03%;
  z-index: 99999 !important;
  padding-top: 1.5rem;
}

.contactus{
  color: white;
  text-decoration: underline !important;
  font-weight: 600;
}
.contactus:hover{
  color: rgb(190, 190, 190) !important;
  filter: brightness(120%);
}

.footer p {
  position: relative;
  color: black;
  font-weight: 600;
  z-index: 99999 !important;
  padding-bottom: .25rem;
}

.btn-block {
  width: 100%;
  margin-bottom: 1.25rem;
}

.Slogan {
  font-size: 3.125rem;
  color: rgb(48, 189, 123);
  text-align: center;
  padding-bottom: 7.5rem;
  margin-bottom: 0;
  margin-top: -3rem;
}

  

.Map {
  display: block;
  margin: 0 auto;
  width: 80%; /* Keeps the existing width */
  height: 30rem;
  border: rgb(142, 106, 206) .25rem solid;
  border-radius: .5rem;
  position: relative; /* Ensures the box can overlay it */
}

.GrayBox {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  /* width: 80%;
  height: 30rem; */
  width: 80%;
  height: 100%;
  border-radius: .5rem;
  background-color: rgba(0, 0, 0, 0.5);
  /* z-index: 2; */
  display: flex;
  justify-content: center; /* Centers text horizontally */
  align-items: center; /* Centers text vertically */
}

.GrayBoxSpecific {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  /* width: 80%;
  height: 30rem; */
  width: 80.1%;
  height: 99.25%;
  border-radius: .5rem;
  background-color: rgba(0, 0, 0, 0.5);
  /* z-index: 2; */
  display: flex;
  justify-content: center; /* Centers text horizontally */
  align-items: center; /* Centers text vertically */
}

.GrayBoxText {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.TextColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}


.hr {
  border-top: .1rem solid white;
  margin: 0 10rem;
}

.eventhost{
  color: rgb(142, 106, 206);
  text-decoration: underline !important;
}

.eventhost:hover{
  color: rgb(142, 106, 206) !important;
  filter: brightness(120%);
}


.learnhow{
  color: white;
  font-size: medium;
  padding-top: 1rem;
  font-weight: 600;
}


.backgroundImg img {
  margin: 1%;
  width: 10%;
  height: auto;
  border-radius: 1.563rem;
  transition: box-shadow 0.3s ease-in-out;
  transform: translate(50%,0%);
}

.backgroundImg img:hover {
  box-shadow: 0 0 .625rem .188rem rgba(153, 102, 255, 0.8);
}

hr {
  margin-top: 2%;
  margin-bottom: 2%;
}

.home-games-images {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1400px) {
  .backgroundMidWithBanner {
    width: 100%;
    height: 100%; 
  }
}

@media screen and (max-width: 960px) {
  .homeContainer {
    width: 100%;
  }

  .hometitles {
    font-size: 2rem;
  }

  .underline{
    margin: 0 auto;
    width: 100%;
  }

  .Slogan {
    font-size: 2rem;
    color: rgb(48 189, 123);
    text-align: center;
    padding-bottom: 7.5rem;
    margin-bottom: 0;
  }
  .hr {
    border-top: .1rem solid white;
    margin: 0 10rem;
    width: 70%;
    transform: translateX(-39%);
  }
  .backgroundTop img{
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 6rem;
    padding-bottom: 1rem;
  }
    
  }

@media only screen and (max-width: 768px) {
  .footer img {
    width: 18%;
    padding: 0.1rem;
  }

  .move-right-on-mobile {
    margin-left: 1rem;
  }
}

/* Fix UI for larger screens (Width >= 2560 pixels) */
@media (min-width: 2560px) {
  .Intro {
    font-size: 5.5rem;
  } 
   .nameLogo {
    height: 30vh;
  } 
  .backgroundTop img {
    width: 50%;
  }
  .getStarted {
    width: 90vh;
    height: 8vh;
    font-size: 2.5rem;
  }
  .Slogan {
    font-size: 6.125rem;
  } 
}

/* Fix UI for short screens (Width <= 376 pixels) */
@media (max-width: 376px) {
  .Intro {
    font-size: 2rem;
  } 
   .nameLogo {
    height: 28vh;
  } 
  .getStarted {
    width: 30vh;
    height: 6vh;
    font-size: 1rem;
  }
  .Slogan {
    font-size: 2.125rem;
  } 
}

/* Fix UI for chode screens (Length - Width is small) */
@media (max-aspect-ratio: 4/3) and (max-width: 768px) and (min-width: 700px) {
  .Intro {
    font-size: 3.5rem;
  } 
   .nameLogo {
    height: 28vh;
  } 
  .backgroundTop img {
    width: 50%;
  }
  /* .getStarted {
    width: 45vh;
    height: 8vh;
    font-size: 2rem;
  } */
  .Slogan {
    font-size: 4.125rem;
  } 
}
