.background-color {
    background-color: rgb(49,49,49);
}

.article-border {
    border: 5px solid rgb(142,106,206);
}

.other-articles {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.imgur.com/CPvWCYw.png');
    background-size: cover;
    width: 60%;
    height: 10rem;
    background-position: center;
    /* filter: brightness(50%); */
}

.map-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.imgur.com/gvdIL9C.png');
    background-size: cover;
    background-position: center;
    height: 10rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.league-article-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.imgur.com/Ag3UcjZ.png');
    background-size: cover;
    background-position: center;
    height: 10rem;
    width: 100%;
    margin-bottom: 1.5rem;
    /* filter: brightness(50%); */
}

.middle-box {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bright-text {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center if only one link */
    align-items: center; /* Center horizontally */
    height: 100%; /* Ensure it takes full height */
    width: 100%; /* Optional, adjust based on your needs */
}

.bright-text a {
    color: white;
    font-weight: bold;
    text-decoration: underline !important;
    font-size: 0.8rem;
}

.article-background {
    background-color: rgb(144,141,141);
}

.black-text {
    color: black;
    font-weight: bold;
}

.black-text-credit {
    color: black;
    font-style: italic;
}

.black-text-no-bold {
    color: black;
}

.left-center {
    text-align: left !important;
}

.controller-img-faq {
    background-image: url('https://i.imgur.com/TTV0RZS.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 16/9;
}

.article-img {
  background-image: url("https://i.imgur.com/jGdypyL.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.esports-img-faq {
    background-image: url('https://i.imgur.com/4lgBfVg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 16/9;
}

.esports-league-img-faq {
    background-image: url('https://i.imgur.com/Jr6Iq9h.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 16/9;
}

.stadium-img-faq {
    background-image: url('https://i.imgur.com/zvYfTtx.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 16/9;
}

.player-img-faq {
    background-image: url('https://i.imgur.com/7MQUXKl.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 16/9;
}

.eco-img-faq {
    background-image: url('https://i.imgur.com/UVqOfZy.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 16/9;
}

.problem-with-esports-img, .esports-better-img, .we-fix-img, .join-esports-img, .we-provide-img {
    width: 45vh;
    height: auto;
    /* padding: 1rem; */
    padding: 1rem;
}

.slight-left {
    margin-left: 6rem;
}

.bottom-space-faq {
    margin-bottom: 7rem;
}

 .blockimg2 {
    width: 100%;
    margin: auto;
    height: auto;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 1.563rem;
  }

    .blockimg2:hover{
    box-shadow: 0 0 1.563rem .188rem rgba(0, 0, 0, 0.8);
  }


@media only screen and (max-width: 1500px) {
.problem-with-esports-img, .esports-better-img, .we-fix-img, .join-esports-img, .we-provide-img {
    width: auto;
    height: auto;
    padding: 1rem;
    display: block;  
    max-width: 45vh; 
}
}

@media only screen and (max-width: 768px) {
.problem-with-esports-img, .esports-better-img, .we-fix-img, .join-esports-img, .we-provide-img {
    width: auto;
    height: auto;
    padding: 1rem;
    display: block;  
    max-width: 45vh; 
}
}

@media only screen and (min-width: 768px) {
    .article-space-top {
        margin-top: 1.5rem;
    }
    
    .article-space {
        margin-bottom: 2.5rem;
        /* margin-top: 1.5rem; */
    }
}

@media only screen and (max-width: 480px) {
.problem-with-esports-img, .esports-better-img, .we-fix-img, .join-esports-img, .we-provide-img {
    width: auto;
    height: auto;
    padding: 1rem;
    display: block;  
    max-width: 45vh; 
}
}

@media only screen and (max-width: 400px) {
.problem-with-esports-img, .esports-better-img, .we-fix-img, .join-esports-img, .we-provide-img {
    width: auto;
    height: auto;
    padding: 1rem;
    display: block;  
    max-width: 45vh; 
}
}
