.total-container {
  position: relative;
}

@media only screen and (max-width: 992px) {
  .bottom-card {
    margin-top: 3rem;
  }
}

.league {
    border-style:hidden;
    width: 100%;
}

.league-img {
    width: 90%;
    height: auto;
    border-radius: 1.813rem;
    transition: filter 0.7s;
}

.check {
    width: 40%;
    height: auto;
    margin-bottom: 1.25rem; 
}

.info-button {
    background-color: rgb(49, 49, 49);
    color: rgb(141, 125, 181);
    border: .125rem solid rgb(144, 125, 181);
    width: 90%;
    transition-duration: 0.4s;
    border-radius: .5rem;
    font-weight: bold;
    font-family: 'Helvetica';
    height: 2.5rem;
}

.info-button:hover {
    background-color: rgb(141, 125, 181);
    color: rgb(49, 49, 49);
}

.Background-leagues {
  background-color: rgb(49, 49, 49);
  padding: 3.125rem;
  position: relative;
  z-index: 1;
  text-align: center;
  height: auto;
}

.Background-game {
  background-color: rgb(49, 49, 49);
  padding: 3.125rem;
  padding-bottom: 10rem;
  position: relative;
  z-index: 1;
}

.Background-bottom {
    background-color: gray;
}

.Leagueh1{
    color: white; 
    font-size: 2rem;
    text-shadow: .125rem .125rem .25rem rgba(0, 0, 0, 0.8);
    font-family: 'Helvetica';
    font-weight: bold;
} 

.back-img {
    background-image: url("../../../website_images/games/cod/cod-leagues/snd-league-unround.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    border-radius: 1.813rem;
    padding-bottom: 4.375rem;
    padding-top: .313rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    filter: brightness(90%);
    transition: filter 0.7s;
  } 

.league-img:hover {
  filter: brightness(135%);
}

.parent {
    position: relative;
} 

.over-img {
    position: absolute;
    top: 6%;
    right:5%;
    transform: translateX(-50%);
    width: 6%;
    height: auto;
    transform-origin: center;
    transition: transform 0.3s;
    display: block;
    transition: filter 0.7s;

}
.over-img:hover {
  filter: contrast(150%);               
  }
  

transition {
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-out, ease-out;
  transition-delay: 0s, 0s;
  transition-property: width, left;
} 
  
.back-img:hover {
    width: 100%;
    height: 100%;
} 

.check2 {
    width: 40%;
    height: auto;
    margin-bottom: 5.625rem;
    margin-left: 10%;
    margin-top: .313rem;
    
}

.hr {
  display: block;
  width: 90%;
  border-bottom: solid rgb(255, 252, 252);
  height: 6rem;
  margin: 0 auto 6rem auto; /* Centers the element horizontally */
}

.hr-report {
  display: block;
  height: .063rem;
  border-bottom: .063rem solid rgb(255, 255, 255);
  margin: 0 3rem 1rem;
}

.games-leagues-header-title {
  margin-top: -18.5rem;
}

#league-title {
    color: white;
    font-size: 5rem; 
    text-align: center;
  }
  
#league-title-lol {
  color: white;
  font-size: 5rem;
  text-align: center;
}
  
.Underline-h-lol {
  width: 100%;  
}

.Underline-h {
  width: 100%;
}

#league-title1 {
  color: white;
  position: relative;
  font-size: 5rem;
}

/* 
.col-2 {
  margin: 3rem;
} */

a {
  text-decoration: none !important;
}
    
.header-img-l-zoom {
  transform: scale(2);
}

.header-img-l-container {
  overflow: hidden;
}

.Header-Img-l {
  padding-top: calc(var(--nav-height) * 5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.games-img {
  background-image: url("https://i.imgur.com/S9U4H7T.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lans-img {
  background-image: url('https://i.imgur.com/YeUPAmO.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.league-header-img {
  background-image: url('https://i.imgur.com/fackjly.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tournaments-header-img {
  background-image: url('https://i.imgur.com/6nqLPyu.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.coming-soon-header-img {
  background-image: url('https://i.imgur.com/gbB3YxJ.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.report-header-img {
  background-image: url('https://i.imgur.com/PoCqBT9.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cod-general-header-img {
  background-image: url('https://i.imgur.com/kZaSdKo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cod-headtohead-header {
  background-image: url('https://i.imgur.com/8Psf9G6.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cod-wagers-header-img {
  background-image: url('https://i.imgur.com/wvSwn4l.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rl-general-header-img {
  background-image: url('https://i.imgur.com/fomqXSz.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rl-league-header {
  background-image: url('https://i.imgur.com/7mjxr12.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rl-h2h-header-img {
  background-image: url('https://i.imgur.com/lw7RZun.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} 

.cs2-general-header-img {
  background-image: url('https://i.imgur.com/8dwjkca.png');
  background-size: 110% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.cs2-h2h-header {
  background-image: url('https://i.imgur.com/JU7dWGw.png');
  background-size: 110% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.cs2-wagers-header {
  background-image: url('https://i.imgur.com/hIpj6hZ.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cs2-league-header {
  background-image: url('https://i.imgur.com/uzLeW90.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.halo-general-header-img {
  background-image: url('https://i.imgur.com/0aE94AJ.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.halo-wagers-header {
  background-image: url('https://i.imgur.com/1Kelw3D.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.halo-league-header {
  background-image: url('https://i.imgur.com/Jsdvjf3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lol-general-header-img {
  background-image: url('https://i.imgur.com/W9afnxj.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lol-wagers-header {
  background-image: url('https://i.imgur.com/IG80Jig.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lol-league-header {
  background-image: url('https://i.imgur.com/NycBCVA.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.val-general-header-img {
  background-image: url('https://i.imgur.com/HqldA9u.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.val-league-header {
  background-image: url('https://i.imgur.com/4Hsf0iz.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wz-general-header-img {
  background-image: url('https://i.imgur.com/BdD5G0Y.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wz-league-header {
  background-image: url('https://i.imgur.com/5uwlggv.pngg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Header-Img-l-cod {
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(1.75);
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  position: relative;
  top: 4.5rem;
}

.Header-Img-l-lol {
  display: block;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 0; 
}

.Header-Img-l-rl {
  display: block;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 0; 
}

.Header-Img-l-val {
  display: block;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 0; 
}

.Header-Img-l-halo {
  display: block;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 0; 
}

.Header-Img-l-wz {
  display: block;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 0; 
}


/* #League-header { */
  /* position: block; */
  /* height: 150%; */
  /* height: 100rem */
/* } */

.Underline-h1 {
  width: 100%;
}

#verification-post-event-a {
  margin-top: 1.25rem;
  color: rgb(142, 106, 206);
  text-decoration: underline !important;
  font-weight: 700;
  filter: brightness(120%);

}

#verification-post-event-a:hover{
  color: rgb(142, 106, 206) !important;
  filter: brightness(140%);
}

@media only screen and (max-width: 768px) {
  #league-title, #league-title1 {
    font-size: 3.5rem;
  }

  .games-leagues-header-title {
    margin-top: -11rem;
  }

  .Underline-h-lol {
    width: 90%; 
    left: 5%; 
  }

  .Underline-h {
    width: 90%; 
  }

  .league-img {
    width: 20rem;
    border-radius: 1rem;
    margin-left: -1.6rem;
  }

  .over-img {
    transform: translateX(-10%);
    top: 10%;
    right: 0;
    width: 8%;
    margin-right: -1rem;
  }

  /* .Header-Img-l { */
    /* padding-top: calc(var(--nav-height) * 3.5) !important; */
    /* padding-top: 300px; */
  /* } */
}

@media only screen and (max-width: 480px) {
  /* #league-title, #league-title1 {
    font-size: 2rem;
  } */

  .Header-Img-l {
    /* padding-top: calc(var(--nav-height) * 4) !important; */
    padding-top: 300px !important;
  }

  .games-leagues-header-title {
    margin-top: -15rem;
  }

  .space-on-bottom {
    margin-bottom: 1.5rem;
  }

  .space-on-bottom-double {
    margin-bottom: 6rem;
  }
}
