  /* Container for positioning the tournament card */
  .tournament-container {
    width: 70%;
    max-width: 100%;
    padding: 2rem;
  }

.tourney-borders {
    border: 5px solid rgb(142,106,206);
    border-radius: 4px;
    background-color: rgb(39,39,39);
}

  /* Border image wrapper */
.tournament-card-wrapper-cmg, .tournament-card-wrapper-codagent {
    position: relative;
    width: 80rem;
    max-width: 100% !important;
    border: none;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
    margin-right: 5rem;
  }

  .tournament-card-wrapper-cmg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://i.imgur.com/M4FR1qC.png); /* MAKE SURE TO MAKE A CODAGENT ONE AS WELL */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none; /* Allows clicking through to the card */
    background-color: rgba(0, 0, 0, 0);
    z-index: -1;
    margin-right: -4rem;
  }

  .tournament-card-wrapper-codagent::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://i.imgur.com/R12yczc.png); /* MAKE SURE TO MAKE A CODAGENT ONE AS WELL */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none; /* Allows clicking through to the card */
    background-color: rgba(0, 0, 0, 0);
    z-index: -1;
    margin-right: -4rem;
  }


  .tournament-card-wrapper-cmg, .tournament-card-wrapper-codagent, .list-group-item {
    background-color: transparent !important;
    border: none !important;
}

.tourney-background {
  background-color: rgb(49, 49, 49);
  max-width: 100% !important;
  width: 100% !important;
  /* overflow-x: hidden !important; */
}

.white-text {
    color: white;
    font-weight: bold;
}

.filters {
    position: relative;
    z-index: 2;
    color: white;
    margin-top: 3rem;
}

.featured-tournaments-white {
    position: relative;
    z-index: 2;
    color: white;
    margin-top: 4rem;
}

.featured-tournaments-purple {
    position: relative;
    z-index: 2;
    color: rgb(142,106,206);
    margin-top: 4rem;
    margin-left: 0.5rem;
}

.purple-text {
    color: rgb(146,106,206);
    font-weight: bold;
}

.reset-filter-text {
    color: rgb(146,106,206);
}

.reset-filter-text {
    filter: brightness(100%);
    transition: filter 0.3s ease; /* Apply transition to both hover on and off */
}

.reset-filter-text:hover {
    filter: brightness(120%);
}

.page-buttons {
    padding-bottom: 2rem
}

.purple-color {
    background-color: rgb(142,106,206);
    border-color: rgb(142,106,206);
}

.purple-color:hover {
    background-color: rgb(142,106,206);
    border-color: rgb(142,106,206);
}

.purple-color:active {
    background-color: rgb(142,106,206);
    border-color: rgb(142,106,206);
}

.purple-color:after {
    background-color: rgb(142,106,206);
    border-color: rgb(142,106,206);
}

.filter-box {
    position: sticky;
    top: 6rem;
    overflow-y: visible;
}

.page-buttons button {
    outline: none !important; /* Removes the focus outline */
    box-shadow: none !important; /* Removes the shadow effect */
}

.page-buttons button:disabled {
    opacity: 0.5; /* Adjust this to control the faded look */
    pointer-events: none; /* Prevents interaction */
    box-shadow: none !important; /* Ensures no focus ring on disabled buttons */
    outline: none !important;
    border: none !important;
}

.tourney-title {
    /* width: 100%; */
    max-width: 100%;
    max-height: 8rem;
    overflow: visible;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    /* margin-right: 1rem; */
}

.tournament-card {
    padding-left: 12.5%;
    height: 60%;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.tourney-header {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding-left: 2rem;
}

.sidebar {
    width: 30%;
    max-width: 100%;
    padding: 2rem;
    margin-left: 5rem;
    /* position: relative; */
}

.tourney-info,
.tourney-button {
  overflow: visible;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.small-bottom-space {
    padding-bottom: 0.25rem !important;  
}

.small-less-space-bottom {
    margin-bottom: -0.05rem !important;
}

@media (max-width: 768px) {
    .tourney-background {
        overflow-x: hidden !important;
    }

    .d-flex {
        flex-direction: column !important;
        align-items: center; /* Center content */
        justify-content: center;
    }

    .sidebar {
        width: 90% !important; /* Take full width on small screens */
        margin-left: 0 !important;
        padding: 1rem !important;
    }

    .tournament-container {
        width: 100% !important;
        max-width: 100% !important;
        margin-left: 2.7rem;
    }

    .tournament-card-wrapper-cmg, .tournament-card-wrapper-codagent {
        width: 100%;
        max-width: 100%;
        /* margin-left: 3rem; */
        /* padding-left: 2rem;
        padding-right: 2rem; */
        /* margin-left: -1rem; */
        /* padding-left: 1rem; */
    }

    .tourney-header {
        width: 100%;
        max-width: 100%;
        padding-right: 2.5rem;
        padding-left: 0;
    }

    .tournament-card-wrapper-cmg::before .tournament-card-wrapper-codagent::before {
        /* background-size: contain; */
        /* min-height: 150px; */
        background-image: none;
        border: 5px solid rgb(142,106,206);
        border-radius: 4px;
    }

    .tourney-title {
        padding-right: 1.3rem;
    }

    /* .tourney-info {
        margin-left: 0.5rem;
    } */

    .filter-box {
        width: 80%;
        max-width: 100%;
        margin-left: 2rem;
        top: 3rem;
        /* position: fixed; */
    }
    
    .filters {
        padding-top: 60px;
    }

    .tournament-list {
        /* display: flex; */
        flex-wrap: wrap;
        justify-content: center; /* Adjusts tournaments to fit */
    }

    .container, .row, [class*="col-"] {
        /* padding-left: 15px;
        padding-right: 15px; */
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        max-width: 100%;
      }

    .small-bottom-space {
        padding-bottom: 0;  
    }
    
    .small-less-space-bottom {
        margin-bottom: 0;
    }
}

/* Add these to your CSS */
/* .navbar, .footer {
    width: 100% !important;
    max-width: 100vw !important;
    box-sizing: border-box !important;
    overflow-x: hidden !important;
  } */

/* * {
    outline: 1px solid red;
} */



.btn-primary.white-text.purple-color {
    filter: brightness(100%);
    transition: filter 0.3s ease;
}

.btn-primary.white-text.purple-color:hover {
    filter: brightness(112%);
}

/* .hoster-banner {
    height: auto;
    width: 5rem;
    padding-bottom: 1rem;
} */

/* .cmg {
    background-image: url('https://i.imgur.com/M4FR1qC.png');
    width: 100%;
    height: auto;
}

.codagent {
    background-image: url('https://i.imgur.com/R12yczc.png');
    width: 100%;
    height: auto;
} */